* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ag-theme-alpine {
  min-height: 300px !important;
  height: 300px;
  --ag-borders-input: none !important;
}

.ag-theme-alpine-second {
  min-height: 300px !important;
  height: 300px;
  --ag-borders-input: none;
}

.ag-theme-alpine-child .ag-root-wrapper .ag-root-wrapper-body.ag-layout-normal {
  height: fit-content;
}

.ag-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: fit-content !important;
}

.ag-details-row {
  display: flex;
  flex-direction: row;
  padding: 10px 30px !important;
}

.ag-details-row h3,
.ag-details-row p {
  width: 50%;
}
